bcrypt==3.1.6
Flask==1.0.2
Flask-Cors==3.0.3
Flask-HTTPAuth==3.2.4
Flask-Login==0.4.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Fuzzy==1.2.2
MarkupSafe==0.23
peewee==3.6.0
Peewee-Migrate>=1.1.5
psycopg2>=2.8.2
python-slugify
python-Levenshtein
pyjwt==1.4.2
watchdog

oauth2client==4.1.3
google-auth==1.6.3
google-auth-oauthlib==0.2.0
google-auth-httplib2==0.0.3
google-api-python-client==1.7.8
# python-appengine
# cPickle
