bcrypt==3.1.6
Flask==1.0.2
Flask-Cors==3.0.3
Flask-HTTPAuth==3.2.4
Flask-Login==0.4.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Fuzzy==1.2.2
MarkupSafe==0.23
peewee==3.6.0
Peewee-Migrate>=1.1.5
python-slugify
python-Levenshtein
pyjwt==1.4.2

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
