// Drag and drop editor

$zebra-color-amount: 2;
$zebra-even-color: lighten($secondary, $zebra-color-amount);
$zebra-odd-color: darken($secondary, $zebra-color-amount);

.dnd-container {
  //   background: #fff;

  &.is-clicked {
    //     background: #e5e9f2;
  }

  &.is-hover {
    //     background: #e5e9f2;
  }

  .item {
    cursor: pointer;
  }

  .bold {
    font-weight: bold;
  }

  &.zebra {
    &.even {
      background-color: $zebra-even-color;
    }
    &.odd {
      background-color: $zebra-odd-color;
    }
  }

  .treeNodeText {
    box-sizing: border-box;
    width: fit-content;
    color: #324057;
    display: flex;
    align-items: center;
  }

  .changeTree {
    width: 16px;
    color: #324057;
  }

  .nodeFolderIcon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-right: 8px;
    border-left: 4px solid grey;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 0 solid yellow;
    transition: transform 0.3s ease-in-out;

    &.nodeClicked {
      transform: rotate(90deg);
    }
  }

  .nodeFolderIconPlaceholder {
    margin-left: 22px;
  }

  .add {
    margin-left: 22px;
  }
  .edit {
    margin-left: 0px;
  }
}
