@import "bootstrap/scss/_variables.scss";

@import "bootsrap_overrides.scss";
@import "variables.scss";
@import "mixins.scss";

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "loading...";
}

// Calendar
.calendar-wrapper{
  .input-group{
    // height: $input-height-base;
    height:36.5px; // terrible hack
  }
  .calendar-input{
    background-color: teal;

  }

  .calendar {
    background-color: $primary;
    &.right{
      right: 0px !important;
    }
  }
}


.hidden{
  display: none !important;
}
